<div class="text-sm">
  <p class="mb-4 font-semibold">The document, "<%= document.file_name %>" produced the following error: <%= error %></p>
  <p class="mb-4">We can't be sure, but one of the following is likely true:</p>
  <ul class="list-disc ml-4">
    <li>The document has been moved, removed or unpublished.</li>
    <li>Your document server or a related firewall has blocked this app.</li>
    <li>You or your document server are experiencing netowrk issues.</li>
  </ul>
</div>