<h3 class="mb-4 text-md font-semibold">ASAP Document <%= error_code %></h3>
<div class="text-sm">
  <p class="mb-4 font-semibold">Something's not right.</p>
  <p class="mb-4">We couldn't open your document because of the following error: <%= error_code %>
    - <%= error_message %></p>
  <ul class="ml-4 mb-4 list-disc">
    <li>The document might have been <span class="font-semibold">moved or deleted.</span></li>
    <li>Your <span class="font-semibold">firewall or document server is blocking</span> our app.</li>
    <li>There could be a <span class="font-semibold">temporary network problem</span> on your end.</li>
  </ul>
  <p>To troubleshoot this error, please contact the document owner for access, check your permissions for this document,
    or verify your login status.</p>
</div>